body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('src/assets/main-backgroundImage.jpg') no-repeat center center/cover;
  }
  
  
  .login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 320px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1rem;
    color: #fff;
  }
  
  
  
  